# Site URL (used for OpenGraph and Sitemap metadata)
NEXT_PUBLIC_SITE_URL=https://thisiskeyo.vercel.app

# Cloudflare Edge Proxy for bypass (AS13335)
CLOUDFLARE_PROXY_URL=https://royal-bar-c2da.tariqmir1278.workers.dev
